@import "reset";
@import "syntax";

body {
  font-size: 25px;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f3eff5 ;
}

article.main {
  width: 75vw;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

