---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <article class="main posts">
      <div class="container">
        <header>
          <div><span class="category"></span><h3>{{ page.title }}</h3></div>
          <div class="tags">這邊放 tag 清單</div>
        </header>
        <section class="content">
          {{ content }}
        </section>
      </div>
    </article>
    <footer></footer>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </body>
</html>
